<a class="item" (click)="menuButtonClicked()">
  <i class="sidebar icon"></i>
  Menu
</a>
<a class="item">
  <i class="teal student icon"></i>
</a>
<h3 class="header teal item">
  <i>KIIT UNIVERSITY SOCIAL NETWORK</i>
</h3>
<div class="icon menu">

</div>
<div class="right icon menu">
  <a class="item" data-tooltip="Post New Item" data-position="bottom right">
    <i class="teal write icon"></i>
  </a>
  <a class="item" data-tooltip="Play Song" data-position="bottom right">
    <i class="teal video play outline icon"></i>
  </a>
  <a class="item" data-tooltip="Give feedback" data-position="bottom right">
    <i class="teal smile icon"></i>
  </a>
  <a class="item" (click)="registerButtonClicked()">Register</a>
  <a class="item" (click)="loginButtonClicked()">Login</a>
  <a class="item" (click)="helpButtonClicked()">Help</a>
</div>
